<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Contracts" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Contratos</h1>
    <%= link_to "Novo Contrato", new_contract_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="contracts" class="min-w-full">
    <table class="w-full border-collapse border border-gray-300" data-controller="table">
      <thead>
        <tr class="bg-gray-100">
          <th class="border p-2">Nº.</th>
          <th class="border p-2">Status</th>
          <th class="border p-2">Imóvel</th>
          <th class="border p-2">Apartamento</th>
          <th class="border p-2">Inquilino</th>
          <th class="border p-2">Data de Início</th>
          <th class="border p-2">Data de Término</th>
        </tr>
      </thead>
      <% @contracts.each do |contract| %>
        <%= render contract %>
      <% end %>
    </table>
  </div>
</div>
