<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Buildings" %>

  <div class="flex justify-between items-center py-5">
    <h1 class="font-bold text-4xl">Imóveis</h1>
    <%= link_to "Cadastrar novo imóvel", new_building_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div class="min-w-full">
    <table class="w-full border-collapse border border-gray-300" data-controller="table">
      <thead>
        <tr class="bg-gray-100">
          <th class="border border-gray-300 px-3 py-2">Proprietário</th>
          <th class="border border-gray-300 px-3 py-2">Nome</th>
          <th class="border border-gray-300 px-3 py-2">Logradouro</th>
          <th class="border border-gray-300 px-3 py-2">Número</th>
          <th class="border border-gray-300 px-3 py-2">Bairro</th>
          <th class="border border-gray-300 px-3 py-2">Cidade</th>
          <th class="border border-gray-300 px-3 py-2">Estado</th>
          <th class="border border-gray-300 px-3 py-2">CEP</th>
        </tr>
      </thead>
      <tbody>
        <% @buildings.each do |building| %>
          <%= render building %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
